@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary;
  @apply text-white;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c0c2c9;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #727272;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #454b53;
}
